################################################################################
# Tantale Configuration File
################################################################################

################################################################################
### Options for the server
[server]

# User tantale will run as
# Leave empty to use the current user
user =

# Group tantale will run as
# Leave empty to use the current group
group =

# Pid file
pid_file = /var/run/tantale.pid

# Maximum number of checks waiting to be processed.
# When queue is full, new are dropped.
queue_size = 16384

################################################################################
### Options for backends
[modules]

[[Livestatus]]
enabled = True
port = 6557

[[Input]]
enabled = True
port = 2003

################################################################################
### Options for backends
[backends]

[[ElasticsearchBackend]]

# python-elasticsearch options
hosts = http://127.0.0.1:9200
use_ssl = False
verify_certs = False
ca_certs = ''
sniffer_timeout = 30
sniff_on_start = True
sniff_on_connection_fail = True

# index options
status_index = status
log_index = status_logs
log_index_rotation = 'daily'
request_timeout = 30

# Backend specific options
batch = 10 # group checks update by X
backlog_size = 50 # keep X checks into memory when backend failing (before trim)

################################################################################
### Options for logging
# for more information on file format syntax:
# http://docs.python.org/library/logging.config.html#configuration-file-format

[loggers]
keys = root

[handlers]
keys = rotated_file

[formatters]
keys = default

[logger_root]
level = INFO
handlers = rotated_file
propagate = 1

[handler_rotated_file]
class = handlers.TimedRotatingFileHandler
level = DEBUG
formatter = default
# rotate at midnight, each day and keep 7 days
args = ('/var/log/tantale/tantale.log', 'midnight', 1, 7)

[formatter_default]
format = [%(asctime)s] [%(threadName)s] %(message)s
datefmt =
