################################################################################
# Tantale Configuration File
################################################################################

################################################################################
### Options for the server
[server]

# User tantale will run as
# Leave empty to use the current user
user =

# Group tantale will run as
# Leave empty to use the current group
group =

# Pid file
pid_file = /var/run/tantale.pid

# Maximum number of checks waiting to be processed.
# When queue is full, new are dropped.
queue_size = 16384

################################################################################
### Options for backends
[modules]

[[Client]]
enabled = True
server_host = 127.0.0.1
server_port = 2003

# Contacts_groups for the host
contact_groups = group_1, group_2

# Read Diamond metrics from FIFO
[[[diamond]]]
fifo_file = /dev/shm/diamond_to_fifo

[[[[checks]]]]
[[[[[diskspace.root.byte_percentfree]]]]]
lower_critical = 10
lower_warning = 20

# Read Nagios formatted checks from FIFO
[[[nagios]]]
fifo_file = /dev/shm/nagios_fifo

################################################################################
### Options for logging
# for more information on file format syntax:
# http://docs.python.org/library/logging.config.html#configuration-file-format

[loggers]
keys = root

[handlers]
keys = rotated_file

[formatters]
keys = default

[logger_root]
level = INFO
handlers = rotated_file
propagate = 1

[handler_rotated_file]
class = handlers.TimedRotatingFileHandler
level = DEBUG
formatter = default
# rotate at midnight, each day and keep 7 days
args = ('/var/log/tantale/tantale.log', 'midnight', 1, 7)

[formatter_default]
format = [%(asctime)s] [%(threadName)s] %(message)s
datefmt =
