[Unit]
Description=tantale - Monitoring daemon

[Service]
ExecStart={{{SCRIPT_PATH}}}/tantale --foreground
Restart=on-abort

[Install]
WantedBy=multi-user.target
